.head-message {

}

.image {
  height: 100px;
}
.message-body {
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-message span {
  padding: 8px;
  height: 40px;
  line-height: 40px;
  border: #aaaaaa 1px solid;
}

.business-table {
  height: 60%;
  text-align: center;
}

