.login-body {
  width: 100%;
  height: 100%;
  display:-webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.login-box {
  width: 50%;
  height: 55%;
  min-width: 280px;
  border: 1px black solid;
  box-shadow: 8px 8px 12px #eaeaf782;
}

.login-div {
  border: #aaaaaa 1px solid;
  padding: 0 20px 20px 0;
}

.login-forget {
  font-size: 15px;
  text-align: right;
  width: 90%;
}

.login-forget span {
  margin-left: 10px;
}

.left-login {
  height: 100%;
  text-align: center;
  display:-webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content:center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  /*opacity: 0.5;*/
  /*filter:alpha(opacity=50); !* 针对 IE8 以及更早的版本 *!*/
}

.login-body-img {
  background-image: url("../assets/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

.login-row{
  margin-bottom: 5%;
}

.login-right-body {
  height: 100%;
  background-color: white;
  display:-webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content:center;
  align-items: center;
}
